<div class="container" ng-controller='ComicController as scan'>
    <div class="row" ng-show='scan.loading'>
        <div class="col-sm-12"><h4>Loading...</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="result in scan.scanResults track by $index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <a href="javascript:;" data-toggle="collapse" data-target="#{{$index}}">{{result.title}}</a>
                        <span style="float:right"><button data-toggle="modal" data-target="#{{$index}}_confirmDelete" class="btn btn-xs btn-danger">x</button></span>
                        <span style="float:right"><button class="btn btn-xs btn-success" ng-click="scan.approve($index)">+</button></span>
                        <span style="float:right"><a href="{{result.file_path}}" class="btn btn-xs btn-info" onclick="window.open(this.href,'PreviewWindow','width=400,height=400');return false;">></a></span>
                    </h4>
                </div>
                <div id="{{$index}}" class="panel-body collapse">
                    <div class="list-group">
                        <div class="form-group">
                            <div class="list-group-item"><label><a>Title:</a></label><input type="text" ng-model="result.title" class="form-control"></div>
                            <div class="list-group-item">
                                <label><a>Year:</a><input type="text" ng-model="result.relyear" class="form-control"></label>
                                <label><a>Rating:</a><input type="text" ng-model="result.rating" class="form-control"></label>
                                <label><a>Length:</a><input type="text" ng-model="result.run_time" class="form-control"></label>
                                <div style="float:right">
                                    <a data-toggle="modal" data-target="#{{$index}}_manualCover"><img src="{{result.cover_path}}" alt="Upload an Image" height="80" width="60"></a>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label><a>Genre 1:</a><input type="text" ng-model="result.genre" class="form-control"></label>
                                <label><a>Genre 2:</a><input type="text" ng-model="result.genre2" class="form-control"></label>
                                <label><a>Genre 3:</a><input type="text" ng-model="result.genre3" class="form-control"></label>
                            </div>
                            <div class="list-group-item"><a>Director:</a><input type="text" ng-model="result.director" class="form-control"></div>
                            <div class="list-group-item">
                                <strong ng-click='editDescription=1'>Description:</strong>
                                <p ng-click='editDescription=1'>{{result.description}}</p>
                                <textarea class='form-control' rows='6' ng-model="result.description" ng-show='editDescription' ng-blur='editDescription = 0'></textarea>
                            </div>
                            <div id="{{$index}}_manualCover" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Manual Cover</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div style="margin:auto">
                                                <img ng-src="{{result.cover_path}}" alt="" height="300" width="200">
                                            </div>
                                            <div class="form-group" style="margin:auto">
                                                <label>url:<input type="text" class="form-control" ng-model="result.cover_path"></label>
                                            </div>
                                        </div>
                                        <div class="modal-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="{{$index}}_confirmDelete" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirm Delete</h4>
                            </div>
                            <div class="modal-body">
                                <h3>Are you sure you want to delete {{result.title}}?</h3>
                                <div class="button-group" style="margin:auto">
                                    <button class="btn btn-success">Confirm</button>
                                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>
<div class='container' ng-show='scan.loading'>
    <h1>Loading....</h1>
</div>
