<div id="{{s.UID}}_details" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Title:<input type="text" class="form-control" ng-model="s.title"></label>
                    <label>Album:<input type="text" class="form-control" ng-model="s.album"></label>
                    <label>Artist:<input type="text" class="form-control" ng-model="s.artist"></label>
                    <label>Band:<input type="text" class="form-control" ng-model="s.band"></label>
                    <label>Genre:<input type="text" class="form-control" ng-model="s.genre"></label>
                    <label>Bpm:<input type="text" class="form-control" ng-model="s.bpm"></label>
                    <label>Feat:<input type="text" class="form-control" ng-model="s.feat"></label>
                    <label>Length:<input type="text" class="form-control" ng-model="s.length"></label>
                    <label>Publisher:<input type="text" class="form-control" ng-model="s.publisher"></label>
                    <label>Track Number:<input type="text" class="form-control" ng-model="s.track_number"></label>
                    <label>Year:<input type="text" class="form-control" ng-model="s.year"></label>
                    <label>Home Country:<input type="text" class="form-control" ng-model="s.artist_country"></label>
                    <label>Home City:<input type="text" class="form-control" ng-model="s.artist_city"></label>
                    <label>Home State:<input type="text" class="form-control" ng-model="s.artist_state"></label>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
